body {
    background-color: #000000;
}

h1 {
    align-items: center;
    color: #000000;
    font-size: 3rem;
    font-weight: bold;
}


.tituloInicial {
    background-color: white;
    border: solid;
    opacity: 80%;
    text-align: center;
}

.nome__tripulação {
    font-size: 1.5rem;
}

.roteiro {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5rem;
}

.roteiro {
    width: 100%;
}

.roteiros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

a {
    border: 100px;
}

.botao__boss {
    color: #ffffff;
    font-size: 24px;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    width: 100%;
    background: linear-gradient(100deg, #ee7752, #860ccc, #2161d1, #22b945);
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.botao__forte {
    color: #ffffff;
    font-size: 24px;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    background: #860ccc;
    width: 100%;
}

.botao__medio {
    color: #ffffff;
    font-size: 24px;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    background: #2161d1;
    width: 100%;
}

.botao__fraco {
    color: #ffffff;
    font-size: 24px;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    background: #22b945;
    width: 100%;
}
