.lista__jogadores{
    display: flex;
}


li{
    list-style: none;
    padding: 5px;
}


.nome__jogador{
    text-decoration: none;
    font-size: 10px;
    color: #ffffff;
}

.nome__jogador:active{
    color: #900000;
}

.glossario{
    text-decoration: none;
    color: yellow;
    font-size: 1.3rem;
}

.glossario:active{
    color: red;
}