.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: center;
    position: absolute;
    height: 150px;
    width: 100px;
    background: #191919;
    border-radius: 10px;
    overflow: hidden;
}

.container:before, .boss:before{
    content:'';
    width:50px;
    height:180px;
    left:30px;
    top:0px;
    position:absolute;
    background:linear-gradient(#00e5ff, #b400fb);
    animation:animate 1s linear infinite;   
}

@keyframes animate{
    0% { transform:rotate(-360deg); }

    100% { transform:rotate(360deg) }
}


.container:after{
    content: '';
    position: absolute;
    background: url(./inimigos/ilha_do_pato/img/cartaz_pinkRaid.jpg);
    background-size: 90px 140px;
    background-repeat: no-repeat;
    inset: 5px;
    border-radius: 10px;
}




