.container{
    display: grid;
    place-items: center;
    position: relative;
    height: 150px;
    width: 100px;
    background: #191919;
    border-radius: 10px;
    overflow: hidden;
}

.container::before{
    content:'';
    width:50px;
    height:150px;
    left:10px;
    top:70px;
    position:absolute;
    background:linear-gradient(#00e5ff, #b400fb);
    animation:animate 6s linear infinite;   
}

@keyframes animate{
    0% { transform:rotate(10deg); }

    100% { transform:rotate(360deg) }
}


.container::after{
    content: '';
    position: absolute;
    background: #191919;
    inset: 3px;
    border-radius: 10px;
}
